.contentAll {
  text-align: start;
  background-color: #fafafa;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.backgroundCircle {
  width: 60%;
  top: -10%;
  right: -15%;
  height: 130%;
  border-radius: 50%;
  background-color: #03dac5;
  position: absolute;
  box-shadow: -20px 0 40px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.backgroundCircle h2 {
  color: #fff;
  font-size: 4rem;
  margin: -10rem 0 0 -10rem;
}

.backgroundCircle p {
  font-size: 2rem;
  margin: 0 0 0 -10rem;
  color: #fff;
}

.content {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 10rem;
  animation: aparecer 1.5s ease;
}

.back {
  margin: 0.2rem 0 0 1rem;
  position: absolute;
  top: 0;
  left: 0;
  color: #333;
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
  }
}

.inputs {
  height: 80%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  margin-top: 1rem;
}

.contentInputs input {
  background: transparent;
  width: 350px;
  border: 1px solid #d3d0d0;
  border-radius: 20px;
  height: 50px;
  outline: none;
}

.contentInputs input::placeholder {
  font-size: 1.2rem;
}

.contentInputs input:focus {
  border: 1px solid #03dac5;
}

.inputs p {
  color: #333;
}

.createAccount {
  color: #333;
}

.errors {
  color: red;
  margin: 0 0 0 0.2rem;
  font-size: 0.9rem;
}

.iniciar {
  background: #03dac5;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  padding: 1rem;
  border-radius: 40px;
  margin-top: 1rem;
  border: none;
  font-size: 1.2rem;
}

@media (max-width: 600px) {
  .content {
    padding: 0;
  }
  .inputs {
    width: 100%;
    align-items: center;
  }

  .backgroundCircle {
    display: none;
  }
}
