.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: transparent;
  border-radius: 50%;
}

.contentLoader {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  border: 4px solid #03dac5;
  border-left-color: transparent;
  width: 36px;
  height: 36px;
}

.loader {
  border: 4px solid #03dac5;
  border-left-color: transparent;
  width: 36px;
  height: 36px;
  animation: spin89345 1s linear infinite;
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.contentAll {
  background-color: #fafafa;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.backgroundCirclePrimary {
  width: 200px;
  height: 200px;
  background: #03dac5;
  border-radius: 50%;
  position: fixed;
  top: 200px;
  left: -120px;
}

.backgroundCircleSecundary {
  width: 200px;
  height: 200px;
  background: #ff4081;
  border-radius: 50%;
  position: fixed;
  top: 80vh;
  right: -100px;
}

.content {
  display: flex;
  padding: 0 7rem;
}

.contentPosts {
  width: 100%;
}

.contentPosts h1 {
  color: #222;
}

.filters {
  display: flex;
  gap: 1.5rem;
  width: 100%;
  margin-bottom: 2rem;
}

.filters input {
  background-color: #fff;
  border-radius: 30px;
  width: 110px;
  height: 30px;
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-right: 8px solid transparent;
  font-size: 1rem;
  cursor: pointer;
}

.filters input:focus {
  outline: 1px solid #03dac5;
}

.filters datalist {
  background-color: red;
}

.filters button {
  border: none;
  background-color: #ff4081;
  border-radius: 20px;
  color: #fff;
  padding: 0.2rem 1rem;
  font-size: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* .contentServices {
  width: max-content;
  height: 75vh;
  overflow-y: scroll;
  padding-right: 2rem;
} */

.contentMessageNotServices {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.logoInterrogation {
  color: #03dac5;
}

.contentDetailService {
  width: 30%;
  display: flex;
  height: max-content;
  padding-top: 2rem;
  position: fixed;
  right: 10%;
}

@media (max-width: 1200px) {
  .contentDetailService {
    right: 0;
  }
}

@media (max-width: 1000px) {
  .contentDetailService {
    display: none;
  }
}

@media (max-width: 600px) {
  .content {
    padding: 0;
    justify-content: center;
    margin: 2rem 0;
  }
  .contentPosts {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
  }
  .image {
    display: none;
  }
  .contentDetailService {
    display: none;
  }
}
