.contentAll {
  background-color: #fafafa;
  min-height: 100vh;
}

.load {
  width: 100%;
  height: 100vh;
  background: red;
  position: fixed;
  z-index: 1;
  visibility: collapse;
  animation: esperar 1s linear;
}

@keyframes esperar {
  from {
    visibility: visible;
    background-color: #7b2cbf;
  }
  to {
    visibility: visible;
    background-color: #7b2cbf;
  }
}

.cortina {
  animation: cortina 1.5s linear;
  background: #fafafa;
  width: 100%;
  height: 100vh;
}

@keyframes cortina {
  from {
    visibility: visible;
    transform: translateY(150%);
  }
  to {
    visibility: visible;
    transform: translateY(-120%);
  }
}

.wave {
  width: 100%;
  height: 100px;
  position: absolute;
  left: 0;
  bottom: -100px;
  background-image: url("../../assets/wave.png");
  background-size: 1000px 100px;
  rotate: 180deg;
  animation: wave 8s linear infinite;
}

@keyframes wave {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 2000px;
  }
}

.wave2 {
  width: 100%;
  height: 100px;
  position: absolute;
  left: 0;
  top: -100px;
  background-image: url("../../assets/wave.png");
  background-size: 1000px 100px;
  animation: wave2 8s linear infinite;
}

@keyframes wave2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 2000px;
  }
}

.content {
  display: flex;
  padding: 0 7rem;
}

.contentPosts {
  width: 100%;
  animation: aparecer 1.5s ease;
}
.contentPosts h1 {
  color: #222;
}

.contentLoader {
  width: 50%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 3.25em;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
}

.loaderCircule {
  fill: none;
  stroke: #7b2cbf;
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .content {
    padding: 0;
    justify-content: center;
    margin: 2rem 0;
  }
  .contentPosts {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
  }
  .image {
    display: none;
  }
}
