.contetAll {
  background: url("../../assets/background.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 7rem;
  width: 100%;
  height: 80vh;
}

.contentText {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: start;
  height: 30%;
  margin-bottom: 1rem;
}
.contentText h1 {
  font-size: 2rem;
  font-weight: 100;
  margin: 2rem 0 0 0;
  color: #000;
}

.contentText span {
  font-weight: bold;
  font-size: 2.1rem;
  color: #9329d0;
}

.contentText h5 {
  font-size: 4rem;
  color: #444;
  margin: 0;
  font-weight: 100;
}

.buttonServices {
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: 1px solid #9329d0;
  border-radius: 30px;
  width: 140px;
  height: 40px;
  background: transparent;
  color: #9329d0;
  font-size: 20px;
  margin-right: 1rem;
}

.buttonNewService {
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 0;
  border: 1px solid #9329d0;
  border-radius: 30px;
  min-width: 140px;
  min-height: 40px;
  background: #9329d0;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .content {
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 100vh;
  }

  .contentText {
    width: 100%;
    height: max-content;
    text-align: center;
  }
  .contentText h1 {
    font-size: 3rem;
    margin: 0;
  }
  .contentText h5 {
    font-size: 1.5rem;
  }
  .contentImg {
    margin-top: 2rem;
    width: 100%;
    height: max-content;
  }
  .contentImg img {
    width: 400px;
  }
}

@media (max-width: 400px) {
  .content {
    height: 100vh;
  }

  .contentText {
    margin-top: 2rem;
  }

  .contentImg img {
    width: 300px;
  }
}
