.content {
  width: 520px;
  min-height: 100px;
  display: flex;
  padding: 1rem;
  box-shadow: 0px 0px 20px #999;
  border-radius: 10px;
  margin-bottom: 30px;
  background-color: #fff;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.typeColor {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -10px;
}

.contentInfo {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 2rem;
  margin: 0;
  text-align: start;
}

.contentInfo p {
  color: #444;
  text-align: start;
  margin: 0;
}
.contentContacts {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.price {
  text-align: end;
  width: 90%;
}

.contanct {
  border: 1px solid #9329d0;
  color: #9329d0;
  border-radius: 30px;
  font-size: 1.2rem;
  width: 120px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.delate {
  background-color: red;
  border: none;
  padding: 0.8rem;
  color: #fff;
  border-radius: 40px;
  font-size: 1.2rem;
  width: 150px;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  .content {
    width: 350px;
  }
  .title {
    font-size: 1.5rem;
  }

  .contentInfo p {
    font-size: 0.8rem;
  }
  .contanct {
    width: 80px;
    font-size: 1rem;
  }
}
