.contentImage {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
}

.back {
  margin: 0.2rem 0 0 1rem;
  position: absolute;
  top: 0;
  left: 0;
}

.contentInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  background: url("../../assets/wave-haikei.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  /* background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.00042015097054448614) 0%,
    rgba(123, 44, 191, 1) 83%
  ); */
}

.imageProfile {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.contentProfileInfo {
  text-align: start;
  padding: 0 0 0 4rem;
  color: #fff;
  width: 400px;
  height: 400px;
  margin-top: 1rem;
}

.contentUserName {
  display: flex;
  padding: 0.1rem;
}

.butonEdit {
  margin-left: 0.5rem;
  cursor: pointer;
}

.nameUser {
  margin: 0;
  font-size: 2.5rem;
}

.dataUser {
  margin: 0;
  font-size: 1.2rem;
}
.formUserNameNone {
  display: none;
}

.formUserName {
  display: block;
}

.formUserName input {
  border-radius: 40px;
  background-color: #fff;
  border: none;
  margin-right: 1rem;
  padding: 0.5rem;
}
.formUserName button {
  border-radius: 40px;
  background-color: #7b2cbf;
  color: #fff;
  padding: 0.5rem;
  border: none;
  margin-right: 1rem;
}

.data {
  color: rgba(255, 255, 255, 0.8);
}

.contentPublics {
  overflow: hidden;
  overflow-y: scroll;
  padding-right: 1rem;
  width: 600px;
  height: 400px;
}

.contentPublicsNone {
  height: 400px;
  padding-right: 1rem;
}
.contentPublics h6,
.contentPublicsNone h6 {
  color: #fff;
  font-size: 3rem;
  margin: 0;
  padding-bottom: 1rem;
}

.contentPublics h4,
.contentPublicsNone h4 {
  color: #fff;
  border-bottom: 1px solid #999;
  font-size: 2rem;
}

.logOut {
  background-color: transparent;
  border: 2px solid #000;
  color: #000;
  border-radius: 40px;
  font-size: 1rem;
  margin: 1rem 2rem 0 0;
  padding: 0.5rem 1rem;
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 600px) {
  .contentInfo {
    flex-direction: column;
    padding: 0;
    height: 100vh;
    background-color: #7b2cbf;
  }
  .contentProfileInfo {
    margin: 8rem 0 0 0;
    display: flex;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .contentPublics {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logOut {
    background-color: #fff;
    border: none;
    border: 1px solid #ddd;
    margin-right: 1rem;
  }
}
