.contentAll {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
}

.contentImage {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
}

.backgroundCircle {
  width: 50%;
  top: -10%;
  left: -15%;
  height: 130%;
  border-radius: 50%;
  background: rgb(3, 218, 197);
  background: linear-gradient(
    0deg,
    rgba(3, 218, 197, 0.8) 0%,
    rgba(3, 218, 197, 0.9696078260405725) 100%
  );
  position: absolute;
  box-shadow: -20px 0 40px rgba(0, 0, 0, 0.15);
}

.back {
  margin: 0.2rem 0 0 1rem;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
}

.contentInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  background-color: #fafafa;
}

.imageProfile {
  width: 250px;
  height: 250px;
}

.contentProfileInfo {
  text-align: start;
  padding: 0 0 0 4rem;
  width: 400px;
  height: 400px;
  margin-top: 1rem;
  z-index: 2;
  color: #fff;
}

.contentUserName {
  display: flex;
  padding: 0.1rem;
}

.butonEdit {
  margin-left: 0.5rem;
  cursor: pointer;
}

.nameUser {
  margin: 0;
  font-size: 2.5rem;
}

.dataUser {
  margin: 0;
  font-size: 1.2rem;
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
  justify-content: flex-start;
}

.formUserNameNone {
  display: none;
}

.formUserName {
  display: block;
}

.formUserName input {
  border-radius: 40px;
  border: none;
  margin-right: 1rem;
  padding: 0.5rem;
}
.formUserName button {
  border-radius: 40px;
  background-color: #7b2cbf;
  padding: 0.5rem;
  border: none;
  margin-right: 1rem;
}

.contentPublics {
  overflow: hidden;
  overflow-y: scroll;
  padding-right: 1rem;
  width: 600px;
  height: 400px;
  padding-right: 10%;
}

.contentPublicsNone {
  height: 400px;
  padding-right: 10%;
}
.contentPublics h6,
.contentPublicsNone h6 {
  font-size: 3rem;
  margin: 0;
  padding-bottom: 1rem;
  color: #333;
}

.contentPublics h4,
.contentPublicsNone h4 {
  font-size: 2rem;
  color: #555;
}

.logOut {
  background-color: transparent;
  color: #fff;
  background-color: #ff4081;
  border: none;
  border-radius: 40px;
  font-size: 1rem;
  margin: 1rem 2rem 0 0;
  padding: 0.5rem 1rem;
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 600px) {
  .contentInfo {
    flex-direction: column;
    padding: 0;
    height: 100vh;
    background-color: #7b2cbf;
  }
  .contentProfileInfo {
    margin: 8rem 0 0 0;
    display: flex;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .contentPublics {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logOut {
    background-color: #fff;
    border: none;
    border: 1px solid #ddd;
    margin-right: 1rem;
  }
}
