.content {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 10rem;
}

.contentAll {
  text-align: start;
  background: rgb(123, 44, 191);
  background: linear-gradient(
    235deg,
    rgba(123, 44, 191, 0.3589635683374912) 0%,
    rgba(123, 44, 191, 0.8799719716988358) 65%
  );
}

.back {
  margin: 0.2rem 0 0 1rem;
  margin: 0.2rem 0 0 1rem;
  position: absolute;
  top: 0;
  left: 0;
}

.content form {
  height: 80%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.contentInputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: max-content;
  margin-top: 1rem;
}
.contentInputs label {
  font-size: 1.4rem;
  color: #ddd;
}

.contentInputsNumber {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.contentInputsNumber label {
  width: 100%;
  font-size: 1.4rem;
  color: #ddd;
}

.inputs {
  width: 280px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  height: 40px;
  outline: none;
  color: #fff;
}

.inputCountries {
  max-width: 200px;
  height: 40px;
  text-align: center;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.inputCountries option {
  background-color: #7b2cbf;
}

.inputPhoneNumber {
  width: 150px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  height: 40px;
  outline: none;
  color: #fff;
  margin-left: 1rem;
}

.inputPhoneNumber::placeholder {
  color: #fff;
}

.rangePrice {
  display: flex;
  align-items: center;
}

.rangePrice p {
  font-size: 1.5rem;
  margin: 0 1rem;
  color: #fff;
}

.price {
  width: 100px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  height: 40px;
  outline: none;
  color: #fff;
}

.fondo {
  width: 40%;
}

.fondo img {
  width: 500px;
}

.public {
  background: rgb(123, 44, 191);
  background: linear-gradient(
    90deg,
    rgba(123, 44, 191, 0.5438375179173232) 0%,
    rgba(123, 44, 191, 1) 48%
  );
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  padding: 1rem;
  border-radius: 40px;
  margin-top: 1rem;
  border: none;
  font-size: 1.2rem;
}

.pusblicNone {
  background-color: #999;
  cursor: not-allowed;
  pointer-events: none;
  color: #fff;
  text-decoration: none;
  padding: 1rem;
  border-radius: 40px;
  margin-top: 1rem;
  border: none;
  font-size: 1.2rem;
}
.errors {
  color: red;
  margin: 0 0 0 0.2rem;
  font-size: 0.9rem;
}

@media (max-width: 600px) {
  .content {
    padding: 0;
  }
  .content form {
    width: 100%;
    align-items: center;
  }
  .contentInputs {
    align-items: center;
  }

  .fondo {
    display: none;
  }
}
